<h1>Hello World!</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius porro quis iure, fugit ab provident quae aliquid, natus totam, itaque sit ex! Sapiente vero magni et totam ipsam laudantium deleniti.</p>
<%= link_to 'Blog', articles_path %>